<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

    <!--sidebarFragment 선언-->
    <div th:fragment="sidebarFragment">
        <div class="menu_bg"></div>
        <div class="sidebar_menu">
            <div class="close_btn" id="close_btn">
                <a href="#">
                    <i class="fas fa-times" id="close" ></i>
                </a>
            </div>
            <ul class="menu_wrap">
                <li id="side_menu1"><a href="moveIntroduction">소개</a></li>
                <li id="side_menu2"><a href="moveConsulting">상담안내</a></li>
                <li id="side_menu3"><a href="moveReview">상담후기</a></li>
                <li id="side_menu4"><a href="moveContact">문의</a></li>
            </ul>
        </div>
    </div>

</html>
